.train-wagons-train-wagon.train-loco {
    width: 9.1vh;
    height: 8vh;
    background-image: url(../images/screen/wagons/loco.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.train-wagons-train-wagon.train-tgv-l {
    width: 9.1vh;
    height: 8vh;
    background-image: url(../images/screen/wagons/tgv-l.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}